.l-main {
    font-family: $font-family;
    &-heading {//l-main-heading
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        text-align: center;
    }
    &-lead {//l-main-lead
        margin: 20px 0 0;
        text-align: center;
    }
    &-magazine {//l-main-magazine
        max-width: 1200px;
        margin: 0 auto 77px;
        padding: 0 4%;
        @include media-sp{
            padding: 0 5%;
        }
        &-items {//l-main-magazine-items
            display: flex;
            justify-content: space-between;
            @include media-sp{
                flex-direction: column;
                align-items: center;
            }
        }
        &-item {//l-main-magazine-item
            position: relative;
            width: 49%;
            margin: 40px 0 0;
            @include media-sp{
                width: 100%;
                &:nth-of-type(2) {
                    margin: 30px 0 0;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top;
            }
            .text-box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 290px;
                padding: 15px 0;
                text-align: center;
                color: $base-color;
                background-color: $sub-color;
                .title {
                    font-size: 2.0rem;
                }
            }
        }
    }
    &-fashion {//l-main-fashion
        background: url(../images/common/fashion_001.jpg) no-repeat;
        background-size: cover;
        background-position: center 60%;
        min-height: 520px;
        margin: 0 0 80px;
        padding: 60px 0 0;
        @include media-sp{
            margin: 0 0 50px;
            padding: 35px 0 0;
        }
        .btn_more {
            margin: 30px auto 0;
        }
    }
    &-catalog,//l-main-catalog
    &-antique {//l-main-antique
        background-color: $bg-color;
        padding: 58.5px 0;
        @include media-sp{
            padding: 30px 0;
        }
        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 4%;
            @include media-sp{
                flex-direction: column;
                padding: 0 5%;
            }
            .img-area {
                width: 48%;
                @include media-sp{
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: auto;
                    vertical-align: top;
                }
            }
            .text-area {
                width: 49%;
                @include media-sp{
                    width: 100%;
                }
                &:last-child {
                    @include media-sp{
                        margin: 60px 0 0;
                    }
                }
                p {
                    margin: 30px 0 0;
                    @include media-sp{
                        margin: 33px 0 0;
                    }
                }
                .btn_more {
                    margin: 60px auto 0;
                    @include media-sp{
                        margin: 60px auto;
                    }
                }
            }
        }
    }

}