.btn_more {
    display: block;
    margin: 0 auto;
    padding: 14px 33px;
    max-width: 133px;
    color: $main-color;
    font-size: 1.2rem;
    text-decoration: none;
    border: solid 1px $main-color;
    transition: all ease-in-out 0.3s ;
    @include media-pc {
        &:hover {
            background-color: $main-color;
            color: $base-color;
        }
    }
}
.btn_logo {
    transition: all ease-in-out 0.3s ;
    @include media-pc {
        &:hover {
            opacity: 0.7;
        }
    }
}
